.App-landing {
    margin: 2.5rem 0;
    padding: 1rem 0;
}

.Landing-form {
    text-align: center;
}

.Landing-input {
    background: white;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 2px;
    margin-right: 5px;
}

.Landing-search {
    padding: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
}

.Landing-results-container {
    background: #fefbfb;
}

.Landing-results {
    display: flex;
    flex-flow: row wrap;
}