.Checkout-card-container {
    display: flex;
    flex-flow: row wrap;
}
.Checkout-container {
    margin-top: 2.5rem;
    height: 100%;
}

.Checkout-container h3 {
    text-align: center;
}

.Checkout-footer {
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}