.App-header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
    z-index: 9;
    font-size: 1.2rem;
}