.Results-checkout {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Checkout-button {
    background: #E7F5E7;
    border: 1px solid #33AC2E;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1.4rem;
    width: 100%;
    cursor: pointer;
}
